<div class="publications">
    <h3>funding</h3>
    <p> Currently, my research is partially supported by the National Science
		Foundation grants DMS-2302263, DMS-2412040, and DMS-2425401,
		and the Renaissance Philanthropy and XTX Markets AI for Math Fund.
	The work has also benefited from a membership at the Institute for
		Advanced Study, a Research Professsorship at the Simons-Laufer Mathematical Sciences Institute (formerly MSRI), and past funding from the NSF, the Simons Foundation, USC, and the Southeastern
	Conference. </p>
    <!-- <div class="row">
        <div class="col"
        style="width: {{$width}}%;
        flex: 0 0 {{$width}}%;
        max-width: {{$width}}%;
        position: relative;
        width: 5%;
        padding-right: 15px;
        padding-left: 15px;">
            <img src="/assets/img/funding/simons.png" class="img-fluid" alt="Simons Foundation" title="Simons">
        </div>

        <div class="col"
        style="width: {{$width}}%;
        flex: 0 0 {{$width}}%;
        max-width: {{$width}}%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;">
            <img src="/assets/img/funding/nsf.png" class="img-fluid" alt="National Science Foundation" title="NSF">
        </div>

        <!-- <div class="col"
        style="width: {{$width}}%;
        flex: 0 0 {{$width}}%;
        max-width: {{$width}}%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;">
            <img src="/assets/img/funding/fields.png" class="img-fluid" alt="Fields Institute" title="Fields">
        </div> -->

        <!-- <div class="col"
        style="width: {{$width}}%;
        flex: 0 0 {{$width}}%;
        max-width: {{$width}}%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;">
            <img src="/assets/img/funding/uofsc.png" class="img-fluid" alt="University of South Carolina" title="USC">
        </div>

        <div class="col"
        style="width: {{$width}}%;
        flex: 0 0 {{$width}}%;
        max-width: {{$width}}%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;">
            <img src="/assets/img/funding/sec.png" class="img-fluid" alt="Southeastern Conference" title="SEC">
        </div>
    </div> -->
</div>
